{% extends "core/base.html" %}

{% block content %}
    {% if album %}
        <h2>
            Edit:{{album.title}}
        </h2>
    {% else %}
        <h2>
            New Album
        </h2>
    {% endif %}


    <form action="" method="POST">
        {% csrf_token %}
        
        {% for field in form %}
            {% include "core/_form_input.html" %}
        {% endfor %}

        <button type="submit" class="btn btn-primary btn-block btn-lg">
            Save
        </button>
    </form>

{% endblock content %}
